@import "../variable";
// taille telephone portable
.radius {
  border-color: $grey;

  .video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25;
    height: 0;
  }

  .card-text {
    font-size: 0.8em;
    //background-color: blueviolet;
  }
}

// à partir de cette taille, ça change : taille tablette et écrans
@media (min-width: 768px) {
  .radius {
    // .test {
    //   display: none;
    //   //clss sur la photo des produits relatifs
    // }
    .video {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25;
      height: 0;
    }

    .card-text {
      font-size: 0.8em;
      //background-color: yellow;
    }

    .place-button {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      //position: absolute;
    }
  }
}
