@import url("https://fonts.googleapis.com/css?family=Inconsolata|Quicksand|Raleway&display=swap");

.search-bar {
  //background-color: pink;
  display: flex;
  justify-content: flex-end;

  // .align-search {
  //   display: flex;
  //   flex-direction: row;
  //   //justify-content: flex-end;
  // }

  .form-control {
    font-family: "Raleway", sans-serif;
    font-size: 0.9em;
    width: 30vw;
  }
  // .form-control::placeholder {
  // }
  .custom-select {
    font-family: "Raleway", sans-serif;
    font-size: 0.9em;
  }
}
